<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NodeJS</title>
	<link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<form class="form-login">

                <fieldset>
                    <legend>

                        Ingreso al Sistema
                    </legend>

                    <p>
                        Por favor ingrese sus credenciales para accesar al sistema.
                    </p>

                    <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Nombre Usuario">
                    </div>

                    <div class="form-group form-actions">
                            <input type="password" class="form-control password" name="password" placeholder="Contraseña">
                    </div>

                    <div class="form-actions">

                        <button id="btnLogin" type="button" class="btn btn-primary ladda-button pull-right" data-style="zoom-out">
                            <span class="ladda-label">
                                Ingresar
                            </span>
                        </button>

                    </div>

                </fieldset>

            </form>

			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="js/login.js"></script>
</body>
</html>